<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.office.library.user.member.UserMemberVo" alias="UserMemberVo"/>
  		<typeAlias type="com.office.library.admin.member.AdminMemberVo" alias="AdminMemberVo"/>
  		<typeAlias type="com.office.library.book.BookVo" alias="BookVo"/> 
  		<typeAlias type="com.office.library.book.RentalBookVo" alias="RentalBookVo"/> 	
  		<typeAlias type="com.office.library.book.HopeBookVo" alias="HopeBookVo"/> 	
  		
  	</typeAliases>
  </configuration>